<?xml version="1.0" ?>
<!--TODO: Double check that data schema properties have been preserved-->
<!--TODO: Gotta implement that stupid relationship thing... Later.-->
<!--TODO: Copy format strings-->

<!--@PREPROC:  ./preproc.sh-->
<!--@POSTPROC: ./postproc.sh-->
<module suppressWarnings="true">
<rels>
  <RelationshipElement name="AboveBelow" type="hierarchical">
    <description>Implements a above below for contexts.</description>
    <parent>Above</parent>
    <child>Below</child>
  </RelationshipElement>
  <RelationshipElement name="Adjacent to" type="bidirectional">
    <description>Implements adjacent to for contexts</description>
  </RelationshipElement>
  <RelationshipElement name="Equivalent" type="bidirectional">
    <description>Implements equivalent to for contexts</description>
  </RelationshipElement>
  <RelationshipElement name="Contains - Contained By" type="hierarchical">
    <description>Implements a contains-containedby for contexts.</description>
    <parent>Contains</parent>
    <child>Contained By</child>
  </RelationshipElement>
</rels>

<User f="nodata">
  <User f="noscroll">
    <Users t="dropdown" f="user nocertainty noannotation"/>
    <Login t="button" l="Control"/>
    <Guide t="button" l="User/Help"/>
  </User>
  <Help>
    <Guide t="webview"/>
  </Help>
</User>

<Control f="nodata">
  <Control>
    <New_Context       t="button" l="Context"/>
    <New_Context_Group t="button" l="Context_Group"/>
    <autonum/>
    <Target_Spit_Thickness t="dropdown"/>
    <Bucket_Volume b="decimal"/>
  </Control>
  <search/>
</Control>

<Context>
  <desc>The physical result of any single action, whether it leaves a positive or negative record within the stratigraphic sequence. (MoLAS 1994)</desc>
  <Context_General_Information>
    <cols>
      <Site_Code f="id autonum">
        <str>
          <fmt>LOT-$2</fmt>
          <app>-</app>
        </str>
        <desc>Short code to signify the excavation site and often the year of excavation.</desc>
      </Site_Code>
      <Area_Code f="id autonum">
        <str>
          <fmt>-$2</fmt>
          <app>-</app>
        </str>
        <desc>Area or Trench: the working subdivision of an archaeological site.</desc>
      </Area_Code>
    </cols>
    <cols>
      <Grid_Location_Reference f="id notnull">
        <str>
          <fmt>-$2</fmt>
          <app>-</app>
        </str>
        <desc>Reference number for the grid square(s) within which this Context falls.</desc>
      </Grid_Location_Reference>
      <Subsquare f="id notnull">
        <str>
          <fmt>-$1</fmt>
          <app>-</app>
        </str>
        <opts>
          <opt>A</opt>
          <opt>B</opt>
          <opt>C</opt>
          <opt>D</opt>
          <opt>Other</opt>
          <opt>N/A</opt>
        </opts>
      </Subsquare>
      <Context_ID f="id notnull">
        <str>
          <fmt>-$2</fmt>
          <app>-</app>
        </str>
        <desc>Unique number or code for each Context.</desc>
      </Context_ID>
      <Lot_ID>
        <!--TODO: Set on blur of any identifier attribute or on tab show, to be
             the record's identifier-->
      </Lot_ID>
    </cols>
    <cols>
      <timestamp>
        Date Opened
        <desc>Date (YYYY-MM-DD) on which the Context was first excavated.</desc>
      </timestamp>
      <Wet_Sieved f="notnull" t="radio">
        <desc>Was the deposit wet sieved?</desc>
        <opts>
          <!--@SOURCE: vocabs/boolean-modal.xml-->
        </opts>
      </Wet_Sieved>
    </cols>
    <cols>
      <Excavation_Method f="notnull" t="checkbox">
        <desc>Method and conditions of archaeological excavation.</desc>
        <opts>
          <opt>Hand-Pick</opt>
          <opt>Trowel</opt>
          <opt>Pick</opt>
          <opt>Other</opt>
        </opts>
      </Excavation_Method>
      <Excavators f="notnull">
        <desc>The individual(s) involved in the excavation of the Context.</desc>
      </Excavators>
    </cols>
    <Your_Interpretation f="notnull">
      <desc>Your interpretation of the likely depositional processes at work in forming the Context.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Natural Layer
          <opt>Alluvial</opt>
          <opt>Fluvial</opt>
          <opt>Aeolian</opt>
          <opt>Lacustrine</opt>
        </opt>
        <opt>Feature/Disturbance
          <opt>Hearth</opt>
          <opt>Post hole</opt>
          <opt>Pit</opt>
          <opt>Burrow</opt>
        </opt>
        <opt>Anthropogenic Layer
          <opt>Dense cultural material</opt>
          <opt>Moderate cultural material</opt>
          <opt>Occasional cultural material</opt>
        </opt>
      </opts>
    </Your_Interpretation>
    <Context_Comments>
      <desc>Additional comments on the description of the Context.</desc>
    </Context_Comments>
    <Artefacts_Present f="notnull" t="checkbox">
      <desc>Whether or not artefacts were present in the Context.</desc>
      <opts>
        <opt>None</opt>
        <opt>Flakes</opt>
        <opt>Cores</opt>
        <opt>Fire Cracked Rock</opt>
        <opt>Hammerstone</opt>
        <opt>Manuport</opt>
        <opt>Bone</opt>
        <opt>Charcoal</opt>
        <opt>Ceramic</opt>
        <opt>Recent material</opt>
        <opt>Other</opt>
      </opts>
    </Artefacts_Present>
    <Elevation_Datum_Type f="notnull">
      <desc>The type of elevation.</desc>
      <opts>
        <opt>True</opt>
        <opt>Local Datum (Describe)</opt>
      </opts>
    </Elevation_Datum_Type>
    <cols>
      <col>
        <Guide_Opening t="webview">Opening Elevations</Guide_Opening>
        <Context_Highest_Level_NW  b="decimal" f="notnull">
          <desc>The highest elevation, or 'opening level', recorded for the NW extent within the square of the Context.</desc>
        </Context_Highest_Level_NW>
        <Context_Highest_Level_NE  b="decimal" f="notnull">
          <desc>The highest elevation, or 'opening level', recorded for the NE extent within the square of the Context.</desc>
        </Context_Highest_Level_NE>
        <Context_Highest_Level_SE  b="decimal" f="notnull">
          <desc>The highest elevation, or 'opening level', recorded for the SE extent within the square of the Context.</desc>
        </Context_Highest_Level_SE>
        <Context_Highest_Level_SW  b="decimal" f="notnull">
          <desc>The highest elevation, or 'opening level', recorded for the SW extent within the square of the Context.</desc>
        </Context_Highest_Level_SW>
        <Context_Highest_Level_Ctr b="decimal" f="notnull">
          <desc>The highest elevation, or 'opening level', recorded for the centre of the Context.</desc>
        </Context_Highest_Level_Ctr>
      </col>
      <col>
        <Guide_Closing t="webview">Closing Elevations</Guide_Closing>
        <Context_Lowest_Level_NW  b="decimal" f="notnull">
          <desc>The lowest elevation, or 'closing level', recorded for the NW extent within the square of the Context.</desc>
        </Context_Lowest_Level_NW>
        <Context_Lowest_Level_NE  b="decimal" f="notnull">
          <desc>The lowest elevation, or 'closing level', recorded for the NE extent within the square of the Context.</desc>
        </Context_Lowest_Level_NE>
        <Context_Lowest_Level_SE  b="decimal" f="notnull">
          <desc>The lowest elevation, or 'closing level', recorded for the SE extent within the square of the Context.</desc>
        </Context_Lowest_Level_SE>
        <Context_Lowest_Level_SW  b="decimal" f="notnull">
          <desc>The lowest elevation, or 'closing level', recorded for the SW extent within the square of the Context.</desc>
        </Context_Lowest_Level_SW>
        <Context_Lowest_Level_Ctr b="decimal" f="notnull">
          <desc>The lowest elevation, or 'closing level', recorded for the centre of the Context.</desc>
        </Context_Lowest_Level_Ctr>
      </col>
    </cols>
    <Target_Spit_Thickness t="dropdown">
      <desc>The minimum thickness of deposit</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>2cm</opt>
        <opt>5cm</opt>
        <opt>10cm</opt>
        <opt>20cm</opt>
        <opt>25cm</opt>
        <opt>50cm</opt>
      </opts>
    </Target_Spit_Thickness>
    <cols>
      <Min_Context_Thickness b="decimal" f="notnull">
        <desc>The minimum thickness of the deposit based on the highest and lowest in each extent within the square.</desc>
      </Min_Context_Thickness>
      <Calculate_Min t="button"/>
    </cols>
    <cols>
      <Max_Context_Thickness b="decimal" f="notnull">
        <desc>The maximum thickness of the deposit based on the highest and lowest in each extent within the square.</desc>
      </Max_Context_Thickness>
      <Calculate_Max t="button"/>
    </cols>
    <cols>
      <Final_Bucket_Count b="decimal" f="notnull">
        <desc>The total number of buckets of sediment that was removed as part of the Context, estimated to the nearest 0.2 buckets; e.g. 1.2 buckets.</desc>
      </Final_Bucket_Count>
      <Deposit_Volume b="decimal" f="notnull">
        <desc>The total volume of sediment (in L) removed as part of the Context.</desc>
      </Deposit_Volume>
    </cols>
    <Calculate_Vol t="button"/>
    <cols>
      <author/>
      <!--<timestamp>-->
        <!--TODO: Figure out why this even exists-->
      <!--</timestamp>-->
    </cols>
  </Context_General_Information>
  <Context_Deposits>
    <cols>
      <Soil_Munsell_Colour f="notnull">
        <desc>The Munsell Code for the soil colour. </desc>
        <opts>
          <!--@SOURCE: vocabs/munsel.xml-->
        </opts>
      </Soil_Munsell_Colour>
      <Soil_Moisture f="notnull">
        <desc>The overall moisture content of the soil.</desc>
        <opts>
          <opt>No Observation
            <desc>Data not collected</desc>
          </opt>
          <opt>Very Dry</opt>
          <opt>Dry
            <desc>Really quite dry</desc>
          </opt>
          <opt>Moist</opt>
          <opt>Saturated</opt>
          <opt>Other</opt>
        </opts>
      </Soil_Moisture>
    </cols>
    <cols>
      <Soil_Texture><!--Previously "Soil_Texture_Actual"-->
        <desc>Proportions of different grain sizes within the deposit, eg if there is more sand to silt it should be described as a 'silty sand'.</desc>
        <opts>
          <opt>No Observation 
            <desc>No Observation. Use the Texture helper to prefil this.</desc>
          </opt>
          <opt>Sand
            <desc>A sand has a loose gritty feel and does not stick together. Individual sand grains can be seen or felt. (VDEPI 2009: AG0058)</desc>
          </opt>
          <opt>Loamy Sand
            <desc>In a loamy sand particles barely stick together and a moulded piece of soil just holds its shape. (VDEPI 2009: AG0058)</desc>
          </opt>
          <opt>Silty Clay Loam
            <desc>A silty clay loam is like a clay loam but silty as well and smooth to the touch. (VDEPI 2009: AG0058)</desc>
          </opt>
          <opt>Clay Loam
            <desc>More easily moulded into a shape than a loam, a clay loam rolls out to a thin ribbon between the palms while a loam will break-up. When dry a clay loam will form a lump but is not as tough to break as a clay.(VDEPI 2009: AG0058)</desc>
          </opt>
          <opt>Sandy Clay Loam
            <desc>A sandy clay loam is like a clay loam but sand grains can be felt (and heard - see Sandy Loam) (VDEPI 2009: AG0058) </desc>
          </opt>
          
          <opt>Silty Clay
            <desc>A silty clay is like a clay but smoother. (VDEPI 2009: AG0058) </desc>
          </opt>
          <opt>Clay
            <desc>Clays are tough and can be moulded into shapes when moist. Clays form a long flexible ribbon when rubbed between the palms and the ribbon can often be bent into a U shape without breaking. Clays dry into very hard clods. (VDEPI 2009: AG0058) </desc>
          </opt>
          <opt>Sandy Clay 
            <desc>A sandy clay is like a clay but sand grains can be felt (and heard - see Sandy Loam). (VDEPI 2009: AG0058) </desc>
          </opt>
          
          <opt>Silt Loam
            <desc>A silty loam is like a loam but has a smooth silky feel when a moist sample is pushed between the index finger and thumb. On drying a sample can form a hard lump but this may be broken by hand. (VDEPI 2009: AG0058) </desc>
          </opt>
          <opt>Loam
            <desc>A loam breaks into crumbs but will tend to stick together. Sand grains cannot be felt in a moist sample which when squeezed will retain its shape when handled freely. Loams are usually soft to the feel. (VDEPI 2009: AG0058) </desc>
          </opt>
          <opt>Sandy Loam
            <desc>A sandy loam sticks together more than a loamy sand but can be easily broken. Individual sand grains can be felt and heard if a wet sample is rubbed between the index finger and thumb and held close to the ear. (VDEPI 2009: AG0058) </desc>
          </opt>
        </opts>
      </Soil_Texture>
      <Texture_Helper t="button" l="Context/Texture_Helper"/>
    </cols>
    <Soil_Compaction_Type f="notnull">
      <desc>The type of compaction of sediments in the deposit, eg 'Compact', 'Cemented' or 'Loose'.</desc>
      <opts>
        <opt>No Observation <desc>Can be excavated with hoe or trowel. (MoLAS 2004: 30)</desc></opt>
        <opt>Loose <desc>Can be excavated with hoe or trowel. (MoLAS 2004: 30)</desc></opt>
        <opt>Compact <desc>Requires mattock for excavation.(MoLAS 2004: 30)</desc></opt>
        <opt>Very Compact </opt>
      </opts>
    </Soil_Compaction_Type>
    <cols>
      <Deposit_Inclusions t="checkbox" f="notnull">
        <desc>Brief description of inclusions.</desc>
        <opts>
          <opt>None</opt>
          <opt>Cobbles</opt>
          <opt>Organic Material</opt>
          <opt>Pebbles</opt>
          <opt>Other</opt>
        </opts>
      </Deposit_Inclusions>
      <Natural_Formations t="checkbox" f="notnull">
        <desc>Geological formations evident in the deposit</desc>
        <opts>
          <opt>None</opt>
          <opt>Carbonates</opt>
          <opt>Iron Concretions</opt>
          <opt>Calcretions</opt>
          <opt>Other</opt>
        </opts>
      </Natural_Formations>
      <Disturbances t="checkbox" f="notnull">
        <desc>Disturbances evident in the deposit</desc>
        <opts>
          <opt>None</opt>
          <opt>Recent human activity</opt>
          <opt>Sediment subsidence</opt>
          <opt>Insects</opt>
          <opt>Large burrows</opt>
          <opt>Faults</opt>
          <opt>Erosion gullies</opt>
          <opt>Large roots</opt>
          <opt>Rootlets</opt>
          <opt>Other</opt>
        </opts>
      </Disturbances>
    </cols>
  </Context_Deposits>
  <Context_Relationships_to_Other_Contexts f="hidden">
    <Guide_0 t="webview">
      Here you can enter relationships between contexts, eg ‘Above’ and ‘Below’.
      Select the Type of Relationship on the left, the related Context from the
      list on the right, and click the button ‘Relate Contexts’.
    </Guide_0>
    <cols>
      <This_Context f="nodata"/>
      <Relationship t="dropdown" f="nodata"/>
      <To_Context f="nodata"/>
    </cols>
    <Relate_Contexts t="button"/>
    <Associated_Entites t="dropdown" f="nodata"/>
    <Remove_Relationship t="button"/>
    <Show_Relationship t="button"/>
    <Guide_1 t="webview">
      Here you can group contexts into a single Context Group.
    </Guide_1>
    <Add_Context_Group t="button"/>
    <Guide_2 t="webview">
      You can add this Context to already existing Context Group.
    </Guide_2>
    <Existing_And_Unrelated_Context_Groups t="dropdown" f="nodata"/>
    <Add_To_Context_Group t="button"/>
    <Guide_3 t="webview">
      Here are the Context Groups that this Context belongs to.
    </Guide_3>
    <Context_Group_List t="list" f="nodata"/>
    <Show_Context_Group t="button"/>
    <Remove_From_Context_Group t="button"/>
  </Context_Relationships_to_Other_Contexts>
  <Context_Samples>
    <New_Sample  lc="Sample" t="button"/>
    <Sample_List ec="Sample" t="dropdown"/>
  </Context_Samples>
  <Context_Artefacts>
    <New_Artefact_Group  lc="Artefact_Group" t="button"/>
    <Artefact_Group_List ec="Artefact_Group" t="dropdown"/>
    <New_Special_Find  lc="Special_Find" t="button"/>
    <Special_Find_List ec="Special_Find" t="dropdown"/>
  </Context_Artefacts>
  <Context_Attachments>
    <Context_Sketch t="file"/>
    <Context_Photo  t="camera"/>
    <View_Attached_Files t="viewfiles"/>
    <Guide t="webview"/>
    <New_Photo_Log  lc="Photograph_Log" t="button"/>
    <Load_Photo_Log ec="Photograph_Log" t="dropdown"/>
  </Context_Attachments>
  <Texture_Helper f="hidden">
    <Soil_Texture_Helper>
      <desc>Proportions of different grain sizes within the deposit, eg if there is more sand to silt it should be described as a 'silty sand'.</desc>
      <opts>
        <!--@SOURCE: vocabs/soil-texture-helper.xml-->
      </opts>
    </Soil_Texture_Helper>
    <Update_Texture t="button" l="Context/Context_Deposits"/>
  </Texture_Helper>
  <Map>
    <Map t="map"/>
  </Map>
  <Review>
    <Bulk_Sample_Mapped>
      <desc>Has the bulk sample been mapped?</desc>
      <opts>
          <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Bulk_Sample_Mapped>
    <Trench_Supervisor_Review f="notnull">
      <desc>Has the Trench Supervisor reviewed this Context record and confirmed data are complete and accurate?</desc>
      <opts>
          <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Trench_Supervisor_Review>
    <Site_Director_Review>
      <desc>Has the Site Director reviewed this Context record and confirmed data are complete and accurate?</desc>
      <opts>
          <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Site_Director_Review>
    <cols>
      <Date_Closed f="notnull">
        <desc>The date (YYYY-MM-DD) on which the Context was closed.</desc>
      </Date_Closed>
      <Close t="button"/>
    </cols>
  </Review>
</Context>

<Context_Group>
  <desc>A group of contexts.</desc>
  <Context_Group_Details>
    <cols>
      <Site_Code f="id notnull">
        <str>
          <fmt>CTXGR-$2-</fmt>
          <app>-</app>
        </str>
        <desc>Short code to signify the excavation site and often the year of excavation.</desc>
      </Site_Code>
      <Area_Code f="id notnull">
        <str>
          <fmt>$2-</fmt>
          <app>-</app>
        </str>
        <desc>Area or Trench: the working subdivision of an archaeological site.</desc>
      </Area_Code>
      <Context_Group_ID f="id notnull">
        <str>
          <fmt>$2</fmt>
          <app>-</app>
        </str>
        <desc>ID of the Context Group/Geological Unit</desc>
      </Context_Group_ID>
    </cols>
    <Title>
      <desc>Name of the context group</desc>
    </Title>
    <Description/>
    <Depth b="decimal">
      <desc>Depth or Height, in mm.</desc>
    </Depth>
    <Your_Discussion/>
    <Profile_Aspect>
      <desc>The direction you are facing when you are facing the profile.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>North</opt>
        <opt>South</opt>
        <opt>East</opt>
        <opt>West</opt>
        <opt>Other
          <desc>Other. Please specify.</desc>
        </opt>
      </opts>
    </Profile_Aspect>
    <cols>
      <UTM_Easting  b="decimal">
        <desc>Your longitudinal location, in UTM metres (specify zone in comments).</desc>
      </UTM_Easting>
      <UTM_Northing b="decimal">
        <desc>Your latitudinal location, in UTM metres (specify zone in comments).</desc>
      </UTM_Northing>
    </cols>
    <Datum>
      <desc>The datum used for establishing your global position. Comment: default to WGS84, otherwise type manually. Enter Zone in Annotation Field.</desc>
    </Datum>
    <Elevation b="decimal">
      <desc>Elevation of the top of the profile, in m.</desc>
    </Elevation>
    <Elevation_Determination>
      <desc>The means by which you established the elevation of the top of the profile.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected.</desc>
        </opt>
        <opt>Paper Map
          <desc>Elevation read from topography of a printed map.</desc>
        </opt>
        <opt>Hand-Held GPS
          <desc>Commercial-grade GPS without calibration.</desc>
        </opt>
        <opt>Differential GPS
          <desc>Differential GPS read with a ‘fixed’ location.</desc>
        </opt>
        <opt>Calibrated GPS
          <desc>Hand-held GPS calibrated to a local elevation datum.</desc>
        </opt>
        <opt>Survey Beacon (Indicate number in comments)
          <desc>Elevation based on a local survey beacon.</desc>
        </opt>
        <opt>Other
          <desc>Describe other means of establishing elevation.</desc>
        </opt>
      </opts>
    </Elevation_Determination>
    <Geological_Unit_Number>
      <desc>The geological unit of the layer assigned by the geologist (typically decreasing numbers with depth).</desc>
    </Geological_Unit_Number>
    <cols>
      <Start_Depth t="radio">
        <opts>
          <opt>MBS<desc>Metres Below Surface</desc></opt>
          <opt>MBD<desc>Meters Below Datum</desc></opt>
        </opts>
      </Start_Depth>
      <Start_Depth_Magnitude b="decimal" f="nodata">
        Start Depth
        <!--TODO: Save this as a measure-->
        <!--Linked to Context/Start Depth in the dataschema as a measure-->
        <!--using @POSTPROC.-->
      </Start_Depth_Magnitude>
    </cols>
    <cols>
      <Soil_Munsell_Colour>
        <desc>The Munsell Code for the soil colour. </desc>
        <opts>
          <!--@SOURCE: vocabs/munsel.xml-->
        </opts>
      </Soil_Munsell_Colour>
      <Soil_Colour>
        <desc>Simple description of the colour of the soil. This field is interpreted from the Soil Munsell Colour</desc>
      </Soil_Colour>
    </cols>
    <Compaction>
      <desc>The degree to which the sediment particles adhere to one another and require force to be separated. Follow this procedure to determine soil compaction/consistence. Take a ped (an aggregate of soil) from the soil horizon. If the soil is very dry, moisten the face of the profile with a water bottle first. Holding the ped between your thumb and forefinger, gently squeeze it until it “pops” or falls apart. Loose soil will not need to be squeezed, while soft soil will fall apart immediately. Slightly hard soil takes some pressure, while hard soil takes a lot of pressure. Very hard soil can only be broken apart along its structure using a digging tool, and cemented soil cannot be broken apart along its structure at all.</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>Loose </opt>
        <opt>Soft </opt>
        <opt>Slightly Hard </opt>
        <opt>Hard </opt>
        <opt>Very Hard </opt>
        <opt>Cemented </opt>
      </opts>
    </Compaction>
    <Soil_Texture_Actual>
      <desc>Proportions of different grain sizes within the deposit, eg if there is more sand to silt it should be described as a 'silty sand'.</desc>
      <opts>
        <opt>No Observation 
          <desc>No Observation. Use the Texture helper to prefil this.  </desc>
        </opt>
        <opt>Sand
          <desc>A sand has a loose gritty feel and does not stick together. Individual sand grains can be seen or felt. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Loamy Sand
          <desc>In a loamy sand particles barely stick together and a moulded piece of soil just holds its shape. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Silty Clay Loam
          <desc>A silty clay loam is like a clay loam but silty as well and smooth to the touch. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Clay Loam
          <desc>More easily moulded into a shape than a loam, a clay loam rolls out to a thin ribbon between the palms while a loam will break-up. When dry a clay loam will form a lump but is not as tough to break as a clay.(VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Sandy Clay Loam
          <desc>A sandy clay loam is like a clay loam but sand grains can be felt (and heard - see Sandy Loam) (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Silty Clay
          <desc>A silty clay is like a clay but smoother. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Clay
          <desc>Clays are tough and can be moulded into shapes when moist. Clays form a long flexible ribbon when rubbed between the palms and the ribbon can often be bent into a U shape without breaking. Clays dry into very hard clods. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Sandy Clay 
          <desc>A sandy clay is like a clay but sand grains can be felt (and heard - see Sandy Loam). (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Silt Loam
          <desc>A silty loam is like a loam but has a smooth silky feel when a moist sample is pushed between the index finger and thumb. On drying a sample can form a hard lump but this may be broken by hand. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Loam
          <desc>A loam breaks into crumbs but will tend to stick together. Sand grains cannot be felt in a moist sample which when squeezed will retain its shape when handled freely. Loams are usually soft to the feel. (VDEPI 2009: AG0058) </desc>
        </opt>
        <opt>Sandy Loam
          <desc>A sandy loam sticks together more than a loamy sand but can be easily broken. Individual sand grains can be felt and heard if a wet sample is rubbed between the index finger and thumb and held close to the ear. (VDEPI 2009: AG0058) </desc>
        </opt>
      </opts>
    </Soil_Texture_Actual>
    <Rounding>
      <opts>
        <opt>No Observation</opt>
        <opt>Angular</opt>
        <opt>Subangular</opt>
        <opt>Subrounded</opt>
        <opt>Rounded</opt>
      </opts>
    </Rounding>
    <Structure>
      <desc>“The arrangement of primary soil particles into compound particles or aggregates.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Single Grain
          <desc>Sediment that is broken into individual particles that do not stick together. Typically accompanies loose consistence in sandy sediments.</desc>
        </opt>
        <opt>Massive
          <desc>Sediments that have no visible structure, are hard to break apart, and appear in very large clods.</desc>
        </opt>
        <opt>Laminated
          <desc>Distinct bands of varying sediment texture (e.g. silts, medium sands, clays) that usually deposit at non-horizontal angles. Common in canals, reservoirs, and wells.</desc>
        </opt>
        <opt>Platy
          <desc>Thin, flat plates of soil that lie horizontally. Usually found in compacted soil.</desc>
        </opt>
        <opt>Granular
          <desc>Resembles cookie crumbs and is usually less than 0.5 cm in diameter. Commonly found in surface horizons where roots have been growing.</desc>
        </opt>
        <opt>Blocky
          <desc>Irregular blocks that are usually 1.5 to 5.0 cm in diameter.</desc>
        </opt>
        <opt>Prismatic
          <desc>Vertical columns of soil typically more than 5 cm long. Usually found in lower soil horizons.</desc>
        </opt>
        <opt>Columnar
          <desc>Vertical columns of soil that have a white rounded salt 'cap' at the top. They occur very commonly in arid climates.</desc>
        </opt>
      </opts>
    </Structure>
    <Structure_Modifiers>
      <desc>Describe the degree to which the structure is developed. Also describe in the notes if the ped size is large, medium, or fine.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>None
          <desc>There is no apparent structure.</desc>
        </opt>
        <opt>Weak
          <desc>Some structure is apparent, but it is inconsistent within the horizon.</desc>
        </opt>
        <opt>Moderate
          <desc>Structure is moderately developed throughout the horizon.</desc>
        </opt>
        <opt>Strong
          <desc>Structure is well-developed throughout the horizon.</desc>
        </opt>
      </opts>
    </Structure_Modifiers>
    <Sorting>
      <desc>Assessment of the frequency with which particles of the same size occur.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Very poorly sorted
          <desc>Particles are very different sizes and very unevenly distributed.
          </desc>
        </opt>
        <opt>Poorly sorted
          <desc>Particles are different sizes and unevenly distributed.
          </desc>
        </opt>
        <opt>Moderately sorted
          <desc>Particles are mostly the same size and evenly distributed, but there are some larger particles.
          </desc>
        </opt>
        <opt>Well sorted
          <desc>Particles are roughly the same size and evenly distributed.
          </desc>
        </opt>
      </opts>
    </Sorting>
    <Inclusions_Gravel_Fraction>
      <desc>Include amounts and qualities; i.e. 'Minor CaCO3 filaments' or 'Minor cultural material present'.</desc>
    </Inclusions_Gravel_Fraction>
    <Disturbances t="checkbox">
      <desc>Disturbances evident in the deposit</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Recent human activity</opt>
        <opt>Sediment subsidence</opt>
        <opt>Insects</opt>
        <opt>Large burrows</opt>
        <opt>Faults</opt>
        <opt>Erosion gullies</opt>
        <opt>Large roots</opt>
        <opt>Rootlets</opt>
        <opt>Other</opt>
      </opts>
    </Disturbances>
    <Upper_Boundary>
      <desc>Describe the overall way in which the upper boundary of the horizon contacts the one above it. If a secondary boundary type applies, describe it in the comments.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Merging
          <desc>Horizon merges gradually with the one above it.</desc>
        </opt>
        <opt>Clear
          <desc>Boundary is clearly defined but not sharp.</desc>
        </opt>
        <opt>Sharp/Straight
          <desc>Boundary is clearly defined and sharp.</desc>
        </opt>
        <opt>Smooth
          <desc>Boundary is apparent but not clearly defined.</desc>
        </opt>
        <opt>Continuous
          <desc>Boundary is continuous across the exposed profile, but takes more than one form.</desc>
        </opt>
        <opt>Discontinuous
          <desc>Boundary is discontinuous across the exposed profile, and takes more than one form.</desc>
        </opt>
      </opts>
    </Upper_Boundary>
    <Lower_Boundary>
      <desc>Describe the overall way in which the lower boundary of the horizon contacts the one above it. If a secondary boundary type applies, describe it in the comments.</desc>
      <opts>
        <opt>No Observation
          <desc>Data not collected</desc>
        </opt>
        <opt>Merging
          <desc>Horizon merges gradually with the one above it.</desc>
        </opt>
        <opt>Clear
          <desc>Boundary is clearly defined but not sharp.</desc>
        </opt>
        <opt>Sharp/Straight
          <desc>Boundary is clearly defined and sharp.</desc>
        </opt>
        <opt>Smooth
          <desc>Boundary is apparent but not clearly defined.</desc>
        </opt>
        <opt>Continuous
          <desc>Boundary is continuous across the exposed profile, but takes more than one form.</desc>
        </opt>
        <opt>Discontinuous
          <desc>Boundary is discontinuous across the exposed profile, and takes more than one form.</desc>
        </opt>
      </opts>
    </Lower_Boundary>
    <cols>
      <Created_By/>
      <Creation_Date/>
    </cols>
  </Context_Group_Details>
  <Context_Group_Contexts>
    <Not_Yet_Implemented t="webview">
      This tab is not yet implemented
    </Not_Yet_Implemented>
    <Guide t="webview">
      Click to select a Context to add to the Context Group
    </Guide>
    <Context e="Context" t="dropdown"/>
    <Add_Context_to_Context_Group t="button"/>
    <Contexts_In_Group ec="Context" t="dropdown"/>
    <Load_Context_and_Exit_Context_Group t="button"/>
    <Remove_Context_From_Context_Group t="button"/>
  </Context_Group_Contexts>
  <Context_Group_Samples>
    <New_Sample  lc="Sample" t="button"/>
    <Sample_List ec="Sample" t="dropdown"/>
  </Context_Group_Samples>
  <Context_Group_Attachments>
    <Context_Group_Sketch t="file"/>
    <Context_Group_Photo  t="camera"/>
    <View_Attached_Files t="viewfiles"/>
    <Guide t="webview">
      Here you can enter filenames or unique reference numbers for image stored
      on another device.
    </Guide>
    <New_Photo_Log  lc="Photograph_Log" t="button"/>
    <Load_Photo_Log ec="Photograph_Log" t="dropdown"/>
  </Context_Group_Attachments>
</Context_Group>

<Artefact_Group>
  <desc>The total group or assemblage of objects recovered from a single Context. These are sometimes referred to as 'Bulk Finds'.</desc>
  <Artefact_Group_General_Information>
    <cols>
      <Context_ID>
        <desc>Unique number or code for each Context.</desc>
      </Context_ID>
      <Artefact_Group_ID f="id notnull">
        <str>
          <fmt>AG-$2</fmt>
        </str>
        <desc>Unique number or code for the artefact group.</desc>
      </Artefact_Group_ID>
    </cols>
    <Artefact_Class>
      <desc>Broad Artefact Class for each Artefact.</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>Flakes</opt>
        <opt>Cores</opt>
        <opt>Fire Cracked Rock</opt>
        <opt>Hammerstone</opt>
        <opt>Manuport</opt>
        <opt>Bone</opt>
        <opt>Charcoal</opt>
        <opt>Ceramic</opt>
        <opt>Recent material</opt>
        <opt>Other</opt>
      </opts>
    </Artefact_Class>
    <Artefact_Quantity b="decimal">
      <desc>The number of Artefacts in this group.</desc>
    </Artefact_Quantity>
    <Artefact_Weight b="decimal">
      <desc>The total weight (in grams) of all Artefacts in this Group.</desc>
    </Artefact_Weight>
    <Artefact_Group_Comment b="string">
      <desc>General comment about this group of Artefacts from this Context, eg 'Lots of early porcelain. Few marks.'</desc>
    </Artefact_Group_Comment>
    <Artefact_Group_Sketch t="file"/>
    <Artefact_Group_Photo  t="camera"/>
    <View_Attached_Files t="viewfiles"/>
  </Artefact_Group_General_Information>
</Artefact_Group>

<Sample>
  <desc>Deposit samples, or samples of building elements, recovered from this Context for the purpose of further analysis, or ongoing reference. </desc>
  <Sample_General_Information>
    <cols>
      <Sample_ID f="id notnull">
        <str>
          <pos>2</pos>
          <fmt>-$2</fmt>
          <app>-</app>
        </str>
        <desc>The unique code or reference for the Sample.</desc>
      </Sample_ID>
      <Context_ID>
        <desc>Unique number or code for each Context.</desc>
      </Context_ID>
    </cols>
    <Sample_Type f="id notnull">
      <str>
        <pos>1</pos>
        <fmt>$1</fmt>
        <app>-</app>
      </str>
      <desc>The type of Sample collected, eg Soil, Wood, Pollen.</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>Bulk</opt>
        <opt>OSL</opt>
        <opt>Micromorphology</opt>
        <opt>Pollen/Phytolith</opt>
        <opt>U-Th</opt>
        <opt>Isotope</opt>
        <opt>14C</opt>
        <opt>Archeomagnetic</opt>
        <opt>Other</opt>
      </opts>
    </Sample_Type>
    <Collection_Method>
      <desc>Method of collecting the sample.</desc>
      <opts>
      <opt>No Observation
          <desc>data not collected</desc>
        </opt>
        <opt>Dirty Trowel</opt>
        <opt>Other (Specify)
          <desc>Other collection method.</desc>
        </opt>
        <opt>Clean Trowel
          <desc>A collection using standard excavation tools into a sterilised container.</desc>
        </opt>
      </opts>
    </Collection_Method>
    <Sample_Weight b="decimal">
    <desc>Weight (in grams) of the sample collected.</desc>
    </Sample_Weight>
    <Sample_Volume b="decimal">
      <desc>Volume (in litres) of the sample collected.</desc>
    </Sample_Volume>
    <Sample_Comments>
      <desc>Additional comments about this sample, or its collection.</desc>
    </Sample_Comments>
    <Sample_Sketch t="file"/>
    <Sample_Photo  t="camera"/>
    <View_Attached_Files t="viewfiles"/>
  </Sample_General_Information>
</Sample>

<Special_Find>
  <Special_Find_General_Information>
    <cols>
      <Context_ID>
        <desc>Unique number or code for each Context.</desc>
      </Context_ID>
      <Special_Find_ID f="id notnull">
         <str>
           <fmt>SF-$2</fmt>
         </str>
         <desc>Unique number or code for the special find.</desc>
      </Special_Find_ID>
    </cols>
    <Special_Find_Class>
      <desc>Broad Artefact Class for each Artefact (eg Glass, Ceramic, Building Material).</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>Flakes</opt>
        <opt>Cores</opt>
        <opt>Fire Cracked Rock</opt>
        <opt>Hammerstone</opt>
        <opt>Manuport</opt>
        <opt>Bone</opt>
        <opt>Charcoal</opt>
        <opt>Ceramic</opt>
        <opt>Recent material</opt>
        <opt>Other</opt>
      </opts>
    </Special_Find_Class>
    <Special_Find_Name/>
    <Special_Find_Description/>
    <Special_Find_Comment/>
    <Special_Find_Sketch t="file"/>
    <Special_Find_Photo  t="camera"/>
    <View_Attached_Files t="viewfiles"/>
  </Special_Find_General_Information>
  <Special_Find_Location f="noscroll">
    <New_Special_Find_Location  lc="Special_Find_Location" t="button"/>
    <List_Special_Find_Location ec="Special_Find_Location" t="dropdown"/>
  </Special_Find_Location>
</Special_Find>

<Special_Find_Location>
  <Special_Find_Location>
    <cols>
      <X b="decimal" f="id notnull">
        <desc>The reading from the x-axis (horizontal) of an arbitrary site grid, corresponding to the location of the Special Find at the time of excavation.</desc>
      </X>
      <Y b="decimal" f="id notnull">
        <desc>The reading from the y-axis (vertical) of an arbitrary site grid, corresponding to the location of the Special Find at the time of excavation.</desc>
      </Y>
      <Z b="decimal" f="id notnull">
        <desc>The elevation or depth of the Special Find at the time of excavation.</desc>
      </Z>
    </cols>
    <Notes f="id notnull">
      <desc>Note about the part of the Plotted Find from which the Location measurement was taken</desc>
    </Notes>
  </Special_Find_Location>
</Special_Find_Location>

<Photograph_Log>
  <desc>A record of images created and stored on another device, eg by a professional site photographer.</desc>
  <Photograph_Log>
    <Context_ID>
      <desc>Unique number or code for each Context</desc>
    </Context_ID>
    <Photograph_Reference_ID f="id notnull">
      <desc>Unique number or code allocated by creator of the image. It could be a filename or a reference number</desc>
    </Photograph_Reference_ID>
    <Looking_Toward>
      <desc>The type of scene captured, eg opening or closing view of the Context. (Vocab: Open, Close, Other)</desc>
      <opts>
        <opt>North</opt>
        <opt>South</opt>
        <opt>East</opt>
        <opt>West</opt>
        <opt>Other</opt>
        <opt>Plan</opt>
      </opts>
    </Looking_Toward>
    <Scene_Type>
      <desc>The type of scene captured, eg opening or closing view of the Context. (Vocab: Open, Close, Other)</desc>
      <opts>
        <opt>No Observation<desc>Data not collected</desc></opt>
        <opt>Open</opt>
        <opt>Close</opt>
        <opt>Feature</opt>
        <opt>Artefacts In Situ</opt>
        <opt>Other (specify)</opt>
      </opts>
    </Scene_Type>
  </Photograph_Log>
</Photograph_Log>

<logic><![CDATA[
  <!--@SOURCE: logic/calc-vol-min-max.bsh-->
  <!--@SOURCE: logic/context-review.bsh-->
  <!--@SOURCE: logic/local-settings-saving.bsh-->
  <!--@SOURCE: logic/target-spit-thickness-population.bsh-->
  <!--@SOURCE: logic/texture-helper.bsh-->
  <!--@SOURCE: logic/user-tab-validation.bsh-->
]]></logic>
</module>
